@{
    ViewData["Title"] = "Background";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>For my Book of Mormon project, I have chosen to create a website that will help me keep track of impressions I receive as I study the life of one of my heroes, Captain Moroni.  I agree with Mormon, and truly believe that if I can become more like Captain Moroni, and develop the Christlike attributes that he had cultivated, I will be blessed with a greater ability to resist the tempations of the adversary and help others to do the same.</p>
<p>To make this project, I used my web development skills that I've learned in my Information Systems major as well as my notes and reflections from reading articles on BookOfMormonCentral.org.</p>
<hr />

<img class="img-fluid" src="~/img/title_of_liberty.jpg" />
<p class="font-italic text-secondary text-center">Image of Captain Moroni and the Title of Liberty by Jeremy Winborg</p>