@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project Moroni</h1>
    <hr />

    <p class="font-italic">"Yea, verily, verily I say unto you, if all men had been, and were, and ever would be, like unto Moroni, behold, the very powers of hell would have been shaken forever; yea, the devil would never have power over the hearts of the children of men."</p>
    <p>Alma 48:17</p>
    <hr />

    <img class="img-fluid" src="~/img/captain_moroni.jpg" />
    <p class="font-italic text-secondary">Image of Captain Moroni by Jody Livingston</p>
</div>
